.contact-section {
  width: 100%;
  max-width: 100%; 
}
.contact-wrapper {
  width: 75%;
  min-width: 300px;
}
.contact-container {
  background-image: url(/img/backgrounds/contact-bg.jpg);
  color: rgb(206, 206, 206);

  background-size: 300px;
  max-width: 900px;
  /* border: 1px outset #333; */
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}
#contact-section-container {
  font-family: "Josefin Sans", sans-serif;
}

.contact-input {
  background-color: rgba(168, 179, 189,.85);
  background-image: url(/img/backgrounds/input-bg.jpg);

  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  border: 1px solid rgba(101, 101, 101, 1);
  border: none;
  padding-left: 8px;
}


@media screen and (max-width: 500px){
  .contact-input{
    font-size: 13px;
    font-weight: 100;
    padding-left: 4px !important;
  }
  .contact-container{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  #contact-section-container{
    padding-left:20px;
    padding-right: 20px;
  }
  label{
    font-size: 15px;
  }
  .contact-btn{
    font-size: 14px !important;
  }
}

.contact-btn {
  background-color:rgba(168, 179, 189,.9);
  /* background-image: url(/img/backgrounds/input-bg.jpg); */
  border-radius: 0;
  color: rgb(0, 0, 0);
  font-size: 19px;
  width: 20%;
  min-width: 150px;
  transition:.1s;

}
.contact-btn:hover {  background-image: url(/img/backgrounds/input-bg.jpg);

}
.contact-btn:active {
  background-color: rgb(125, 123, 123);
  /* border: 1px solid rgb(83, 83, 83); */
  color: rgb(0, 0, 0);
  transition:.04s;
}
.contact-btn:focus {
  background-color: rgb(214, 214, 214);
  border: none;
  color: rgb(0, 0, 0);

  transition:.04s;
}
@media screen and (max-width: 400px) {
  .contact-header {
    font-size: 65px !important;
  }
}
@keyframes fadeAway {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
.fade {
  animation-name: fadeAway;
  animation-duration: 3s;
}
