form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  max-width: 550px;
  min-width: 200px;
}
input {
  margin-bottom: 5px;
}
.row {
  display: block;
  flex-direction: row;
  margin-bottom: 10px;
}
label {
  text-align: center;
}
input {
  max-width: 50%;
}

.wrapper {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;

  background-color: rgb(58, 79, 90); /* border-top: 1px solid rgb(58, 61, 66); */
  display: flex;

  align-items: center;
  flex-direction: column;
}
.wrap-col {
  width: 60%;
  max-width: 1000px;
  min-width: 380px;
  display: flex;

  align-items: center;
  flex-direction: column;
}
.bof {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.left-side{
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.dark {
  background-color: var(--font-color);
  background-color: rgba(33, 37, 41, 0.8);
  color: white;
}
.light {
  background-color: rgba(181, 181, 181, 0.5);
}
.centralize {
  display: flex;
  align-items: center;
}

.logout {
  position: absolute;
  top: 12px;
  right: 12px;
}
