@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400&display=swap");
:root {
  --font-color: #212529;
  --light-font: rgb(206, 206, 206);
}
html {
  color-scheme: dark !important;
}
body {
  width: 100%;
  background-color: #000;
}
.section{
  width: 100%;
  max-width: 100%;
  background-position: 0 0, 50% 50%;
  background-size: auto cover;
  background-repeat: repeat, repeat;
}
.mid-bg {
  background-image: url(/img/backgrounds/main-bg.jpg);
  background-position: 0 0, 50% 50%;
  background-size: auto cover;
  background-repeat: repeat, repeat;
}
.top-bg {
  background-image: url(/img/backgrounds/main-bg-top.jpg);
  background-position: 0 0, 50% 50%;
  background-size: auto cover;
  background-repeat: repeat, repeat;
}

.nav-section {
  min-height: 100vh;
  min-width: 100%;
  max-width: 100%;
  
}
.nav-bg {
  background-image: linear-gradient(
      182deg,
      #000,
      #000,
      rgba(0, 0, 0, 0.9) 0,
      transparent 16%,
      rgba(0, 0, 0, 0.5) 102%
    ),
    url(/img/hero.jpg);
  background-position: 0 0, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, repeat;
}
.hero-img {
  width: 100%;
  height: 100vh;
}

.nav-font {
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
}


.brand-tweak {
  font-family: "Cormorant SC", serif;
  font-style: italic;
}
.brand-tweak:hover {
 cursor: default;
}

@media screen and (max-width: 1199px) {
  .brand-div {
    width: 100% !important;
    display: flex !important;
    justify-content: start !important;
  }
  .brand-tweak {
    margin-left: -5px;

    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .icon {
    width: 22px;
    height: 22px;
  }
}
@media screen and (max-width: 576px) {
  .mobile-margin {
    margin-left: -20px;
  }

  .nav-font {
    font-size: 42px;
  }
  .icon {
    width: 23px !important;
    height: 23px !important;
  }
  .brand-div {
    margin-top: 0;
  }
  .brand-tweak {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 465px) {
  .nav-font {
    font-size: 36px;
  }
  .menu-button {
    margin-top: 0.5em !important;
  }
}
@media screen and (max-width: 400px) {
  .nav-font {
    font-size: 34px;
  }
  .icon {
    width: 20px !important;
    height: 20px !important;
  }
  .nav-link-mod {
    color: white !important;
  }
}
@media screen and (max-width: 360px) {
  .nav-font {
    font-size: 30px;
  }
  .mobile-margin {
    margin-left: -12px;
  }
}

.icon {
  filter: invert(100%) sepia(0%) saturate(1752%) hue-rotate(344deg)
    brightness(99%) contrast(115%);
  max-height: 24px;
  width: 24px;
  height: 24px;
}
.nav-tweak {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 4rem);
  max-width: 1400px;
}

.nav-items {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 800;
}

.social-link {
  display: flex;
  color: transparent;
  margin-right: 1.2rem;
  opacity: 0.8;
  height: 30%;
  transition: 0.2s;
}
.social-link:hover {
  transform: translateY(-5px);
  transition: 0.2s;
}

.menu-button {
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
  bottom: auto;
  margin-top: 20px;
  margin-left: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border: none;
  background-image: url("/img/icons/hamburger.svg");
  filter: invert(85%) sepia(0%) saturate(1752%) hue-rotate(320deg)
    brightness(99%) contrast(115%);
  max-height: 24px;
  width: 24px;
  height: 24px;
  border-radius: 0;
}
.menu-button:hover {
  filter: invert(100%) sepia(0%) saturate(1752%) hue-rotate(344deg)
    brightness(99%) contrast(115%);
}
.hamburger {
  font-size: 1rem;
  border: none;
  font-weight: 9px;
  background-image: none;
}
.nav-link-mod {
  color: white;
  font-weight: 900;
}
.feature-wrapper {
  height: 90%;
}

.feature-img {
  max-width: 100%;
}

.footer-section {
  width: 100%;
  max-width: 100%;
  background-color: #000;
  background-position: 0 0, 50% 50%;
  background-size: auto cover;
  background-repeat: repeat, repeat;
  font-size: 10px;
}
.foot-nav-tweak {
  position: static !important;
}
.footer-font {
  height: min-content;
}
.design-by {
  text-decoration: none;
  font-weight: bolder;
  height: min-content;
}
