@import url("https://fonts.googleapis.com/css2?family=Saira:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
h1 {
  font-family: "Cormorant SC", serif;
  font-style: italic;
  font-weight: 100;
  display: flex;
  justify-content: center;
  font-size: 120px;
  color: var(--light-font) !important;
}
.tour-section {
  width: 100%;
  max-width: 100%;
  background-image: url(/img/bg6mod.jpg);
  background-position: 0 0, 50% 50%;
  background-size: auto cover;
  background-repeat: repeat, repeat;
  /* border-top: 1px solid rgb(58, 61, 66); */
}
.tour-container-tweak {
  max-width: 900px !important;
  color: var(--light-font);
}
/* .tour-date-container {
  background-color: rgba(59, 59, 59, 0.6);
  border: 1px solid rgba(5, 5, 5, 0.6);
  padding: 18px 20px 20px;
  color: white;
  font-family: Montserrat, sans-serif;
} */
.tour-date-container {
  border-bottom: 2px solid rgba(168, 168, 168, 0.5);
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.date-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-weight: 600;
  /* background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.6); */
}
.date {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 25px;
}
.time {
  display: flex;
  justify-content: center;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}
.location-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-left: 1px solid rgba(111, 111, 111, 0.5);
}
.city {
  /* display: flex;
  justify-content: center; */
  text-align: center;
  font-size: 25px;
  font-weight: 900;
}
.venue {
  font-size: 17px;

}
.ticket-div {
  display: flex;
  justify-content: start;
  align-items: end;
  flex-direction: column;
}
.ticket-link {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  color: initial;
  background-color: rgba(116, 170, 188, 0.8);
  text-decoration: none;
  text-align: center;
  color: #212529;
  /* font-family: Montserrat, sans-serif;
  font-weight: 900; */
  font-family: "Saira", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
}
.ticket-link:hover {
  color: #212529;
  background-color: rgba(145, 183, 196, 0.8);
  background-color: white;
}
@media screen and (max-width: 768px) {
  .ticket-div {
    justify-content: center;
    align-items: center;
  }
  .location-div {
    border: none;
  }
  .tour-date-container {
    margin-top: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 35px !important;
  }
  h1 {
    margin-bottom: 10px !important;
    font-size: 80px !important;
  }
  .time {
    font-size: 15px;
  }
  .venue{
    font-size: 15px;
  }
  .date{
    font-size: 21px;
  }
  .city{
    font-size: 21px;
  }
  .ticket-link{
    font-size: 17px;
    margin-top: 15px !important;
  }
  .tour-date-container{
    margin-bottom: 0 !important;
    padding-bottom: 25px !important;
  }
  .section-header{
    font-size: 70px !important;
    margin-bottom: 30px !important;
    background-color: rgba(12, 30, 40, 0.16);
    text-align: center;
    padding:0 20px 0 20px;
    max-width: fit-content;
  }
}
.section-header{
  font-size: 110px !important;
  /* margin-bottom: 30px !important; */
  /* background-color: rgba(19, 34, 43, 0.3); */
  text-align: center;
  padding:0 25px 0 20px;
  /* max-width: fit-content; */
  /* box-shadow: 1px 2px 3px rgba(0,0,0,.2); */
}
.section-header2{
  /* font-size: 110px !important;
  background-color: rgba(19, 34, 43, 0.3);
  text-align: center;
  padding:0 25px 0 20px; */
  /* margin-bottom: 30px !important; */
  /* max-width: fit-content; */
  /* box-shadow: 1px 2px 3px rgba(0,0,0,.2); */
}
.header-holder{
  display: flex;
  justify-content: center;
  width: 100%;
  
}
@media screen and (min-width: 768px) {
  .not-touring-container {
    font-size: 47px;
  }
}
.not-touring-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 6vw;
  text-align: center;
  font-weight: 100;
}

.emiglio {
  max-height: 300px;
}
